<header class="header">
  <div class="header__container">
    <a class="header__logo" href="#">
      EventLink
    </a>

    <nav class="header__nav">
      <a href="#">Categorias</a>
      <a href="#">Profissionais</a>
      <a href="#">Como funciona</a>
    </nav>

    <div class="header__actions">
      <button class="header__login" type="button">
        Entrar
      </button>

      <button class="header__signup" type="button">
        Criar conta
      </button>
    </div>
  </div>
</header>